{% extends 'layouts/template.html.twig' %}

{% block title %}{{ page.title | default('Default Title') }}{% endblock %}
{% block description %}{{ page.description | default('Default description') }}{% endblock %}

{% block body %}

  {% include 'layouts/search.html.twig' %}

<div>
  <h1>{{ page.title | default('Default Title') }}</h1>
  {% if page.article is not empty %}
    {{ page.article }}
  {% else %}
    Default article text goes here.
  {% endif %}

  {% endblock %}