{% extends 'layouts/template.html.twig' %}

{% block title %}Check Your Email{% endblock %}

{% block body %}
<div>
    <h4>Confirm your email</h4>
    <p>We've sent a confirmation link to your email address. Please click the link to verify your account.</p>
    <hr>
    <p class="mb-0">Didn't receive the email? Check your spam folder or try registering again.</p>
</div>
{% endblock %}

